<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

    <targets>
        <!--默认日志-->
        <target name="defaultlog" xsi:type="File" keepFileOpen="false" encoding="utf-8"
            fileName="${basedir}/logs/${level}/${shortdate}.log" 
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

        <!--按照LoggerName分类-->
        <target name="customlog" xsi:type="File" keepFileOpen="false" encoding="utf-8"
            fileName="${basedir}/logs/${logger}/${shortdate}-${level}.log" 
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

         <!--按照日志文件大小归档-->
         <target name="archivelog" xsi:type="File" keepFileOpen="false" encoding="utf-8"
            fileName="${basedir}/logs/${logger}/${shortdate}-current.log" 
            archiveFileName="${basedir}/logs/${logger}/${shortdate}.{###}.log"
            archiveAboveSize="1024000"
            archiveNumbering="Sequence"
            maxArchiveFiles="100"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />       
    </targets>

    <rules>
        <logger name="Ken.Tutorial.*" minlevel="trace" writeTo="defaultlog" />
        <logger name="*log" minlevel="trace" writeTo="customlog" />
        <logger name="logmany" minlevel="trace" writeTo="archivelog" />
    </rules>

</nlog>
